body {
    margin: 0;
    font-family: Garamond, sans-serif;
}

.navbar {
    display: flex;

    align-items: center;

    background-color: #38023c;

    padding: 10px;

}

.slide {
    margin-right: 20px;
}

.name {
    margin-left: 460px;
}

h1,
h4 {
    color: white;
    margin: 0;

}

body {
    background-color: blueviolet;
}